.button {
  --button-bg-color: initial;
  --button-fg-color: initial;
  --button-hover-bg-color: initial;
  --button-hover-fg-color: initial;
  --button-active-bg-color: initial;
  --button-disabled-bg-color: initial;
  --button-disabled-fg-color: initial;
  --button-border-color: var(--button-bg-color);
  --button-focus-inner-ring-color: initial;
  --button-focus-outer-ring-color: initial;

  appearance: none;
  height: 2.5rem;
  border: none;
  border-radius: 8px;

  background: var(--button-bg-color);
  color: var(--button-fg-color);
  border: 1px solid var(--button-border-color);
  display: inline-flex;
  align-items: center;
  column-gap: 4px;

  &:hover {
    --button-bg-color: var(--button-hover-bg-color);
    --button-fg-color: var(--button-hover-fg-color);
  }

  &:active {
    --button-bg-color: var(--button-active-bg-color);
  }

  &:focus-visible {
    outline: var(--button-focus-inner-ring-color) solid 2px;
    outline-offset: -3px;
    --button-border-color: var(--button-focus-outer-ring-color);
    --button-fg-color: var(--button-focus-fg-color);
  }

  &:disabled {
    --button-bg-color: var(--button-disabled-bg-color);
    --button-fg-color: var(--button-disabled-fg-color);
  }
}
